//$card-color: $text !default;
//$card-background-color: $white !default;
//$card-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
//
//$card-header-background-color: none !default;
//$card-header-color: $text-strong !default;
//$card-header-shadow: 0 1px 2px rgba($black, 0.1) !default;
//$card-header-weight: $weight-bold !default;
//
//$card-content-background-color: none !default;
//
//$card-footer-background-color: none !default;
//$card-footer-border-top: 1px solid $border !default;

.cards {
  box-shadow: 0 5px 32px 0 rgba(0,0,0,0.07);
  overflow: hidden;
  margin-left: 1px;

  @include mobile {
    margin-left: -1.42857rem;
    margin-right: -1.42857rem;
  }

  & > .columns.is-gapless {
    margin-left: -1px;
  }

  &.is-border-top {
    border-top: 5px solid #FF8C00;
  }

  &.is-gapless .cards__item {
    padding: 0 !important;
  }

  &__item {
    display: block;
    padding: 23px 20px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.08), inset 1px 0 0 0 rgba(0, 0, 0, 0.08);
    font-size: $size-5;
    line-height: (28 / 17);
    height: 100%;

    @include tablet {
      padding: 36px 50px;
    }

    .box {
      box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.08), inset 1px 0 0 0 rgba(0, 0, 0, 0.08);
      border-radius: 0;



      &:hover {
        background-color: #FFFCF0;
      }
    }

    &:nth-child(even) {
      .box {
        box-shadow: none;
      }
    }

  }

  li {
    a {

    }

    & + li {
      margin-top: 1.03em;
    }
  }

  .column .cards__item .menu {
    margin-left: -2.882em;
    margin-right: -2.882em;
  }

  .menu {
    font-size: $size-5;

    li {
      margin-top: 0;
    }

    a {
      padding: 0.975em 2.941em;

      @include mobile {
        padding-left: 1.42857rem;
        padding-right: 1.42857rem;
      }
    }
  }
}