.hero {
	padding: 58px 0;
	// max-width: 1072px;
	// margin-left: auto;
	// margin-right: auto;

	&__img {
		background-position: right top;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		margin-top: 10px;
		// max-width: 756px;
		// width: 100%;
		// width: (494 / 1005) * 100%;

		.guarantee {
			display: inline-block;
			position: absolute;
			right: 3%;
			top: 2%;
			color: #666;
			font-size: 14px;

			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 5px;
				right: 100%;
				margin-right: 4px;
				width: 100%;
				background: url(../img/svg/arrow-curve-lb.svg) no-repeat;
				height: 18px;
				width: 46px;
			}
		}

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			left: 50%;
			bottom: -60px;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			width: 85%;
			background: radial-gradient(ellipse at center, rgba(63, 63, 63, 0.3) 0%, rgba(63, 63, 63, 0) 60%);
			height: 28.57143%;
			-webkit-filter: blur(2px);
			filter: blur(2px);
		}
		
		&:after {
			content: '';
			display: block;
			padding-top: 58.07%;
		}

		.btn-tips {
			position: absolute;
		}
	}
}
.hero__top {
	max-width: 1005px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 37px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-col {
		width: 50%;
	}

	.phone {
		margin-left: ((70 / 1005) * 100%);
	}
}
.hero_title {
	font-weight: 900;
	font-size: 36px;
	line-height: 43px;
	color : #005EA9;
	margin: 0;
}
.hero_subtitle {
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
}
.hero__top .price {
	margin-right: 66px;
}
.hero__heading {
	padding-bottom: 35px;
	
	@include media-breakpoint-up(md) {
		padding-left: 67.5px;
	}
}

.hero__middle {
	
	@include media-breakpoint-up(md) {
		display: flex;
	}
}
.hero__col-first {
	// max-width: 520px;
	// width: 100%;
	
	@include media-breakpoint-up(md) {
		width: (585 / 1140) * 100%;
	}
}
.hero__col-two {
	// max-width: 755px;
	// width: 100%;
	
	@include media-breakpoint-up(md) {
		width: (555 / 1140) * 100%;
	}
}

