.hero {
	padding: 58px 67px;
	// max-width: 1072px;
	// margin-left: auto;
	// margin-right: auto;

	&__img {
		position: relative;

		.btn-tips {
			position: absolute;
		}
	}
}
.hero__top {
	max-width: 1005px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 33px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero_title {
	font-weight: 900;
	font-size: 36px;
	line-height: 43px;
	color : #005EA9;
	margin: 0;
}
.hero_subtitle {
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
}
.hero__top .price {
	margin-right: 66px;
}
.hero__heading {
	padding-bottom: 35px;
	// padding-left: 65px;
}

.hero__middle {
	display: flex;
}
.hero__col-first {
	max-width: 540px;
}
.hero__col-two {
	max-width: 755px;
}

