.product {
    position: relative;
    padding-bottom: 26%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &__img {
        align-self: center;
        position: relative;
        display: inline-block;
        z-index: 1;

        @include media-breakpoint-down(sm) { 
            img {
                max-width: 220px;
            }
        }

        img {
            position: relative;
            z-index: 1;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 45%;
            top: 100%;
            transform: translateX(-50%);
            width: 50%;
            background: radial-gradient(ellipse at center, rgba(63, 63, 63, 0.3) 0%, rgba(63, 63, 63, 0) 60%);
            height: (100% / 3.5);
            filter: blur(2px);
        }

        .btn-stock {
            position: absolute;
            left: 40%;
            top: -32px;
        }
    }

    &__size {
        position: absolute;
        z-index: 1;
        width: 160px;
        height: 90px;
        border-left: 2px dashed;
        border-right: 2px dashed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transform: perspective(700px) rotateX(50deg) rotateY(8deg) skewY(0deg) skewX(-45deg) rotateZ(-90deg);
        transform-origin: center center 0px;

            span {
                display: block;
                position: relative;
                width: 0%;
                opacity: 0;
                height: 2px;
                background-color: #005EA9;
                transition: width 1.8s, opacity 1.2s;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                }
                &:before {
                    border-top: 2px solid #005EA9;
                    border-right: 2px solid #005EA9;
                    transform: rotate(38deg) translateY(-50%);
                    top: 50%;
                    right: 7px;
                }
                &:after {
                    border-top: 2px solid #005EA9;
                    border-left: 2px solid #005EA9;
                    transform: rotate(-38deg) translateY(-50%);
                    top: 50%;
                    left: 7px;
                }
            }

        &--10f {
            width: 38%;
            right: -48px;
            bottom: -11px;

            @include media-breakpoint-down(sm) {
                height: 50px;
                bottom: -2px;
                right: -25px;
            }
        }

        &--20f {
            width: 42%;
            right: -48px;
            bottom: -3px;

            @include media-breakpoint-down(sm) {
                height: 50px;
                bottom: -2px;
                right: -25px;
            }
        }

        &--40f {
            width: 47%;
            right: -50px;
            bottom: 10px;

            @include media-breakpoint-down(sm) {
                height: 50px;
                right: -25px;
                bottom: 2px;
            }
        }

        &:after {
            content: attr(data-size)'мм.';
            display: block;
            text-align: center;
            font-weight: 500;
            transform: skew(-30deg) translateY(10px);
        }

        &.show {
            span {
                width: 100%;
                opacity: 1;
            }
        }
    }

    &__cont {
        padding-top: 70px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        text-align: center;
        padding-bottom: 20px;
        h3 {
            margin-bottom: 0;
        }
    }

    &__price {
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 82px;
    }

    &__price-type {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: 15px;
        @include media-breakpoint-up(sm) { 
            margin-left: 40px;
        }

        li {
            padding: 4px 0;
        }
        
        a {
            text-decoration: underline;
        }
    }

    &__request {
        padding-top: 30px;
        text-align: center;
    }
}