.product {
    padding-bottom: 26%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__img {
        align-self: center;
        position: relative;
        display: inline-block;
        z-index: 1;

        @include media-breakpoint-down(sm) { 
            img {
                max-width: 220px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 45%;
            top: 100%;
            transform: translateX(-50%);
            width: 50%;
            background: radial-gradient(ellipse at center, rgba(63, 63, 63, 0.3) 0%, rgba(63, 63, 63, 0) 60%);
            height: (100% / 3.5);
            filter: blur(2px);
        }

        .btn-stock {
            position: absolute;
            left: 47%;
            top: -32px;
        }
    }

    &__size {
        position: absolute;
        
        display: inline-block;
        width: 160px;
        height: 90px;
        border-left: 2px dashed;
        border-right: 2px dashed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // transform: skewX(63deg) skewY(3deg);
            // transform: perspective(500px) rotateX(45deg) skewX(15deg) rotateY(0deg) rotateZ(-45deg);
            transform: perspective(700px) rotateX(50deg) rotateY(8deg) skewY(0deg) skewX(-45deg) rotateZ(-90deg);
            transform-origin: center center 0px;

            span {
                display: block;
                position: relative;
                width: 0%;
                opacity: 0;
                height: 2px;
                background-color: #005EA9;
                transition: width 1.8s, opacity 1.2s;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                }
                &:before {
                    border-top: 2px solid #005EA9;
                    border-right: 2px solid #005EA9;
                    transform: rotate(38deg) translateY(-50%);
                    top: 50%;
                    right: 7px;
                }
                &:after {
                    border-top: 2px solid #005EA9;
                    border-left: 2px solid #005EA9;
                    transform: rotate(-38deg) translateY(-50%);
                    top: 50%;
                    left: 7px;
                }
            }

        &--20f {
            width: 42%;
            right: -48px;
            bottom: -3px;

            @include media-breakpoint-down(sm) {
                height: 50px;
                bottom: -2px;
                right: -25px;
            }
        }

        &--40f {
            width: 47%;
            right: -50px;
            bottom: 10px;

            @include media-breakpoint-down(sm) {
                height: 50px;
                right: -25px;
                bottom: 2px;
            }
        }

        &:after {
            content: attr(data-size)'мм.';
            display: block;
            text-align: center;
            font-weight: 500;
            transform: skew(-30deg) translateY(10px);
        }

        &.show {
            span {
                width: 100%;
                opacity: 1;
            }
        }
    }

    // &__size {
    //     position: absolute;
    //     width: 20%;
    //     border-top: 2px dashed #999;
    //     border-bottom: 2px dashed #999;
    //     bottom: -3px;
    //     transform: skewX(-63deg) skewY(3deg);

    //     &--20f {
    //         height: 34%;
    //         left: 71%;
    //         svg {
    //             width: 100%;
    //         }
    //     }

    //     &--40f {
    //         height: 43%;
    //         left: 71%;
    //     }

    //     &:after {
    //         content: attr(data-size)' мм.';
    //         display: inline-block;
    //         transform: rotate(0) rotateZ(-90deg) rotateY(60deg);
    //         left: 5%;
    //         bottom: 30%;
    //         width: 200%;
    //         height: 22px;
    //         transform: skewX(63deg) skewY(3deg) rotate(-30deg);
    //         position: absolute;
    //         font-weight: 500;
    //     }

    //     svg {
    //         transform: skewX(63deg) skewY(3deg) rotate(-30deg);
    //     }
    // }

    &__cont {
        padding-top: 70px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        text-align: center;
        padding-bottom: 20px;
        h3 {
            margin-bottom: 0;
        }
    }

    &__price {
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 82px;
    }

    &__price-type {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: 40px;

        li {
            padding: 4px 0;
        }
        
        a {
            text-decoration: underline;
        }
    }

    &__request {
        padding-top: 30px;
        text-align: center;
    }
}