@keyframes blick {
    0% {
      left: -10%;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 0.2;
    }
    100% {
      opacity: 0;
      left: 102%;
    }
}

@keyframes ripple {
  0% {
      transform: scale(.4);
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

@keyframes fadeShadow {
  0% { opacity: 0.9; transform: translate3d(0px, 0px, 0px); }
  50% { opacity: 0.7; transform: translate3d(0px, -2px, 0px); transform: translate3d(0px, 2px, 0px); }
  100% { opacity: 0.9; transform: translate3d(0px, 0px, 0px); }
}

@keyframes bounce {
  0% { transform: translate3d(0px, 0px, 0px); }
  50% { transform: translate3d(0px, -2px, 0px); transform: translate3d(0px, 2px, 0px); }
  100% { transform: translate3d(0px, 0px, 0px); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0% {
      transform: scale(.9);
      opacity: .7
  }
  50% {
      transform: scale(1);
      opacity: 1
  }
  100% {
      transform: scale(.9);
      opacity: .7
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes cilheight {
  0% {
      height: 0;
  }
  40% {
      height: 110%;
  }
  60% {
      height: 93%;
  }
  75% {
      height: 100%;
  }
}
@keyframes cilShadow {
  0% {
      width: 0%;
  }
  40% {
      width: 160%;
  }
  60% {
      width: 143%;
  }
  75% {
      width: 150%;
  }
}
@keyframes stepIconShow {
  0% {
      opacity: 0;
      transform: translateY(10%);
  }
  40% {
      transform: translateY(-150%);
  }
  60% {
      
      transform: translateY(-93%);
  }
  75% {
      opacity: 1;
      transform: translateY(-100%);
  }
}