// stylelint-disable selector-no-qualifying-type

//
// Base styles
//
@keyframes blick {
  0% {
    left: -20%;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    left: 110%;
  }
}
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  overflow: hidden;
  min-height: 46px;
  
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  
  padding: 6px 20px;
  box-shadow: 0 4px 0 rgba(0, 31, 81, 0.8);
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  transform: translateY(0);
  transition: box-shadow 0.14s, transform 0.14s;
  z-index: 1;

  &[type="submit"] {
    background-color: transparent;
  }

  // 6px 20px
  @include media-breakpoint-up(sm) {
    
  }
  @include media-breakpoint-up(md) {
    font-size: 18px;
    padding: 8px 30px;
    min-height: 56px;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   background: url(../img/svg/btn_shadow.svg) no-repeat center center;
  //   width: 591px;
  //   height: 130px;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  &-bounce {
    transition:.25s;
    animation: 1.25s bounce infinite;
  }

  .btn-shadow {
    position: absolute;
    background: url(../img/svg/btn_shadow.svg) no-repeat center center;
    width: 591px;
    height: 130px;
  }

  .btn-blick {
    &:before {
      content: '';
      position: absolute;
      top: -50%;
      bottom: -50%;
      background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0.6) 100%);
      width: 45px;
      transform: skewX(-22deg);
      left: -65%;
      animation-name: blick;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }

    &:after {
      background: url(img/btn_pattern.png) repeat;
      content: '';
      position: absolute;
      display: block;
      transform: rotate(45deg);
      background: rgba(18, 122, 203, 1) 0%;
      width: 400px;
      height: 400px;
      top: -235%;
      right: 40px;
      z-index: -1;
    }
  }

  

  .icon {
    display: inline-block;
    vertical-align: middle;
    // width: 48px;
    // height: 48px;
    border-radius: 100%;
    line-height: 1;
    text-align: center;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    transform: rotate(45deg);
    background: rgba(18, 122, 203, 1) 0%;
    width: 400px;
    height: 400px;
    top: -130px;
    right: 15px;
    z-index: -1;

    @include media-breakpoint-up(md) {  
      right: 40px;
    }
  }

  &:before {
    background: linear-gradient(0deg, rgba(18, 122, 203, 1) 0%, rgba(33, 146, 234, 1) 100%);
  }

  // &:after {
  //   background: url(img/btn_pattern.png) repeat;
  // }

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
    box-shadow: 0 0 0 rgba(0, 31, 81, 0.8);
    transform: translateY(4px);
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// btn tips
.btn-tips {
	position: relative;
	border: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	box-shadow: 0 0 0 3px rgba(255,255,255, 0.58);
	border-radius: 100%;
	transform: scale(1);
	transition: transform 0.2s;
  cursor: pointer;
  
  &:after {
    content: '';
    display: block;
    background: url(../img/svg/plus.svg) no-repeat center center;
    margin: auto;
    background-size: 40%;
    width: 100%;
    height: 100%;
  }
}
.btn-tips:before {
	content: '';
	position: absolute;
	top: -12px;
	right: -12px;
	bottom: -12px;
	left: -12px;
	border: 2px dashed #B3B3B3;
	border-radius: 100%;
}


.btn-tips--blue {
	background: #127acb;
	background: -moz-linear-gradient(left, #127acb 0%, #2192ea 100%);
	background: -webkit-linear-gradient(left, #127acb 0%,#2192ea 100%);
	background: linear-gradient(to right, #127acb 0%,#2192ea 100%);
}
.btn-tips--red {
	background-color: #C1272D;
}

.btn-tips--middle {
	width: 74px;
	height: 74px;
}


.btn-special {
	display: flex;
    align-items: center;
	background-color: rgba(255,255,255, 0.58);
	box-shadow: 0 5px 4px 0 rgba(0,0,0, 0.3);
	border-radius: 100px;
	transform: translateY(0px);
	transition: all 0.2s;
	text-decoration: none;
	font-weight: 300;
	color : #333;
}
.btn-special--price {
	padding: 6px;
	font-size: 18px;
}
.btn-special--compare {
	font-size: 14px;
}
.btn-special__label {
	padding: 0 12px;
}
.btn-special--compare .icon {
	width: 65px;
	height: 65px;
}
.btn-special--compare .btn-special__label {
	padding-left: 25px;
}
.btn-special .icon {
	box-shadow: 4px 4px 4px rgba(0,0,0, 0.3);
	text-align: center;
}
.btn-special .icon img {
	vertical-align: middle;
}

.btn-special:hover {
	transform: translateY(5px);
	box-shadow: 0 0px 4px 0 rgba(0,0,0, 0.3);
}

.btn-special {
  &--pulse {
    animation-name: btnSpecialPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes btnSpecialPulse {
  0% {
      transform: scale(.9);
      opacity: .7
  }

  50% {
      transform: scale(1);
      opacity: 1
  }

  100% {
      transform: scale(.9);
      opacity: .7
  }
}