.popup {
  padding: 30px;
  border-radius: 4px;
  max-width: 420px;

  &__title {
    font-size: 18px;
    font-weight: 900;
  }

  &__subtitle {
    font-size: 14px;
  }

  &--wide {
    max-width: 1005px;
    padding: 30px;
    @include media-breakpoint-up(lg) {
      padding: ((70 / 1680) * 100%) ((70 / 1680) * 100%) ((46 / 1680) * 100%) ((70 / 1680) * 100%);
    }
    
  }
}
