@charset "utf-8";

/*! bulma.io v0.7.1 | MIT License | github.com/jgthms/bulma */
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";


.cil {
    width: 95px;
    height: 60px;
    border-bottom-right-radius: 95px 60px;
    border-bottom-left-radius: 95px 60px;
    background-color: #f0f0f0;
    position: relative;

    &:before {
        content: '';
        background-color: red;
        position: absolute;
        width: 95px;
        height: 56px;
        border-radius: 100%;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.how-work {
    counter-reset: section;
    &__item {
        position: relative;
    }
}

.cylinder {
    position: relative;
    width: 95px;
    height: calc(88px * 1);
    // -webkit-perspective: 35px;
    // perspective: 35px;
    perspective: 90;
    perspective-origin: 0% 0%;

    &__line {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 20px;
        background-color: red;
    }

    &:before {
        content: '';
        position: absolute;
        left: 18%;
        bottom: -30%;
        width: 150%;
        height: 0;
        border-radius: 20% 0 0 40%;
        background: red;
        transition: 0.3s linear;
        height: calc(90px * 1);
        background: linear-gradient(95deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 80%);
        opacity: 0.5;

        // -webkit-transform: rotateX(3deg) rotateY(-3deg);
        // transform: rotateX(3deg) rotateY(-3deg);
        transform: scale(1.0) scaleZ(1.0) rotateX(-16deg) rotateY(-16deg) rotateZ(16deg);
        transform-origin: 0% 0%;
    }
    &:after {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        z-index: 1;
        font-weight: 500;
        font-size: 58px;
        transform: rotate(-315deg);
    }
    span {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 95px;
        height: 0;
        padding-top: 56px;
        border-radius: 47.5px/28px;
        background-color: rgba(0, 160, 160, 0.5);
        background: linear-gradient(90deg, #007BFF 0%, #002794 100%);
        transition: 0.3s linear;
        height: calc(88px * 1);
        
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 95px;
            height: 56px;
            border-radius: 47.5px/28px;
            background-color: rgba(20,131,255,1);
            background: linear-gradient(to right, #1483FF 0%,#0F80FF 100%);
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 95px;
            height: 56px;
            border-radius: 47.5px/28px;
            background: linear-gradient(to right, #0838C7 0%, #0054E5 100%);
            box-shadow: 1px 1px 4px 0 rgba(94, 94, 94, 0.7);
            z-index: -1;
        }
    }
    
}